$label-blue: #428bca;

.badge-active {
  color: $white;
  background-color: $label-blue;
}

.badge-inactive {
  color: $white;
  background-color: $gray-300;
}

.seach-icon-input,
.clear-search-input {
  position: absolute;
  z-index: 10;
  fill: $gray-300;
}

.seach-icon-input {
  left: 4px;
  top: 10px;
}

.clear-search-input {
  top: 1px;
}

.instance-id-loading-icon {
  right: 52px;
}
